@page "/"


<div class="text-center" style="padding:40px 10px;">
    <h2>
         إيستاريا مينت نظام إدارة الاقساط
    </h2>

    <h6>
        إيستاريا مينت مفهوم جديد فى عالم الاقساط
    </h6>
</div>

<SurveyPrompt Title="learn more about" />
